body { 
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to bottom left, #672E3B 0%, #646D71 100%);
}

footer {
    padding-top: 300px;
}
#hd-image {
    position: relative;
    width: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.header-image h2 {
    font-family: 'Lobster', cursive;
    position: absolute;
    top: 110px;
    left: 5%;
}

.articles {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
/*.photo-album {
    float: right;
    width: 10%;
}

#photo1 {
    padding-top: 30px;
    border-radius: 5%;
    width: auto;
}

#photo2 {
    border-radius: 5%;
    width: auto;
}*/
